{% extends "template_base.html" %}

    <!--Dynamic product information-->
    {% block content %}


    <div class="row">
        <div class="col-2" style="border-right: 1px solid black; width:100%;">
            <form class="container" style="margin:auto; margin-top:24px; text-align: center">
                <input type="checkbox">Filter 1<br>
                <input type="checkbox">Filter 2<br>
                <input type="checkbox">Filter 3<br>
                <label>Price Range</label><br>
                <input type="text" placeholder="Min" style="width:30%"> to <input type="text" placeholder="Max" style="width:30%">
                <button type="submit">Apply Filter</button>
            </form>
        </div>
        <div class="container col-9" style="margin-top:24px">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="min-width:50%; margin-right: 24px;">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </form>


            <!--Use JS to populate this next div-->
            <div class="container" style="border:1px solid black; max-height: 90%; margin:2px; padding:0; overflow-y:auto">

             {% if browser_list %}

              {% for product in browser_list %}
                <div class="fillInLater row" style="border-bottom:1px solid black; margin:0px; min-width: 768px;">
                    {% load static %}
                    <div class="col-3"><img src="{% static 'images/wet-dry-vacuum-cleaner.png' %}" style="width:100%"></div>
                    <div class="col-6">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        <label style="float:right">{{ product.price }}</label>
                        <h6>Description: </h6>
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                    <div class="col-3" style="text-align: center">
                        <a href="{% url 'favorite' product.id %}"><button type="button">I'm interested!</button></a>
                        <div style="bottom:0; position:absolute;">
                            <h5>Seller Rating: </h5>
                            <label>{{ product.seller_rating }}</label>
                            <!--Would seller rating be different for user rating?-->
                        </div>
                    </div>
                </div>
               {% endfor %}
               {% else %}
                 <label>There are no available Products.</label>
               {% endif %}

            <!--Limit set to 10 items a page-->
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            <span class="page-current">
                                <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}

            </div>
            </div>
            </div>

{% endblock %}
