{% extends "template_base.html" %}

{% block content %}


<body>
  <!--Main picture(s) up top. Could become slideshow later-->
  <div class="mainPicture" style="text-align: center">
      {% load static %}
    <img src="{% static 'images/e-commerce.jpg' %}" alt="UMarketBanner" style="width:100%;">
  </div>

  <!--Black horizontal bar underneath picture section, can become typical nav bar-->
  <div class="topnav">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
      <!--<a class="navbar-brand text-center" href="#">Buy, Sell, Exchange!</a>-->
    </nav>
  </div>

  <!--Some logo I made from some website-->
  <div class="logo" style="text-align: center">
      {% load static %}
    <img src="{% static 'images/um_logo.png' %}" alt="UMarket Logo" height="300" width="300">
  </div>

  <!--Margins around the buttons with max size 5-->
  <div class="row">
    <div class="col mx-5">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Already a Member?</h5>
          <!--<p class="card-text">Log back in to see what's new.</p>-->
          <div class="buttons" style="text-align: center">
            <a href="{% url 'login' %}"><button type="button" class="btn btn-dark btn-lg">Sign In</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col mx-5">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Register Today!</h5>
          <!--<p class="card-text">Sign up to start selling, buying or exchanging with other students on campus!</p>-->
          <div class="buttons" style="text-align: center"></div>
          <a href="{% url 'signup' %}"><button type="button" class="btn btn-dark btn-lg">Sign Up</button></a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
<!-- </body>

</html> -->
