{% extends "template_base.html" %}

{% block content %}

<!-- Main Content -->
<h1 style="text-align:center;">Welcome to UMarket's Product Page!</h1>

<!--Dynamically adding in product information-->
<div id="product" style="margin: 20pt;">
  <div class='page-header'>
    <div class='btn-toolbar float-right'>
      <div class='btn-group'>

        <a href="{% url 'favorite' product.id %}"><button type='button' class='btn btn-primary'>I'm Interested</button></a>
      </div>
    </div>
  </div>

  {% if product.picture %}
  <img src="{{product.picture.url}}" alt="{{product.picture.url}}" height="150pt" width="150pt" style="float: left; margin: 0px 15px 15px 0px;" />
  {% else %}
  {% load static %}
  <img src="{% static 'images/No_Image.png' %}" alt="No Image" height="150pt" width="150pt" style="float: left; margin: 0px 15px 15px 0px;" />
  {% endif %}
  <div id="product-details">
    <p id="name" style="margin: 15px 15px 15px 15px;">Product Name: {{ product.name }}</p>
    <p id="seller-rating" style="margin: 15px 15px 15px 15px;">Product Seller Rating: {{ product.seller_rating }}</p>
    <p id="category" style="margin: 15px 15px 15px 15px;">Product Category: {{ product.category }}</p>
    <p id="price" style="margin: 15px 15px 15px 15px;">Product Price: {{ product.price }}</p>
  </div>
</div>
<p>Product's Description:</p>
<p id="description" style="margin: 15px 15px 15px 15px;"> {{ product.description }} </p>
{% endblock %}