<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>UMarket</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Provided CSS styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Custom made CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

  <!-- Favicon Icon/Tab Icon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/gravel.png' %}">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body style="min-height: 125vh; overflow: auto; position: relative;  margin: 0;">
  {% block navbar %}
  <!-- Navbar Header-->
  <div class="nav">
    <li>
      <image class="logo" src="{% static 'images/um_logo_inverse_small.png'%}">
    </li>
    <div class="wrap">
      <ul>
        <li>
          <a class="nav-link" href="{% url 'home-page' %}">Home</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'browser-page' %}">Product Listings</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="nav-link" href="{% url 'user' %}">My Profile</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'login' %}">Log In</a> </li>
        </li>
        {% endif %}
      </ul>
      {% endblock %}
      <!--
        <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home-page' %}">UMarket</a>
        <ul class="nav navbar-dark mr-auto">
          <li class="nav-item active"> <a class="nav-link" href="{% url 'home-page' %}">Home<span class="sr-only">(current)</a>
          </li>

          <li class="nav-item active"> <a class="nav-link" href="{% url 'browser-page' %}">Product Listings</a> </li>

          {% if user.is_authenticated %}
          <li class="nav-item active"> <a class="nav-link" href="{% url 'user' %}">My Profile</a> </li>
          <li class="nav-item active"> <a class="nav-link" href="{% url 'logout' %}">Log Out</a> </li>
          {% else %}
          <li class="nav-item active"> <a class="nav-link" href="{% url 'login' %}">Log In</a> </li>
          {% endif %}
        </ul>
        </nav>
        -->
    </div>
  </div>

  <div class="col-md-12">{% block content %}{% endblock %}</div>

  <!-- Footer -->
  {% block footer %}
  <div class="footer">
    <div class="wrap">
      <div class="footer_left">
        <p>
          © 2018 Team aTlas Inc. All Rights Reserved.
        </p>
      </div>
      <div class="footer_right">
        <li class="list-inline-item">
          <!-- About page works, other links are dummies. Might more about to header instead.-->
          <a href="{% url 'about-page' %}">About</a>
          <a href="{% url 'about-page' %}">Contact</a>
          <a href="{% url 'about-page' %}">Support</a>
          <a href="{% url 'about-page' %}">Privay Policy</a>
          <a href="{% url 'about-page' %}">Terms of Use</a>
          </p>
        </li>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--
  <footer class="bg-dark" style="color:aliceblue; position: absolute; bottom:0%; width:100%;">
    <ul class="list-inline text-center ">
      <li class="list-inline-item"><a href="{% url 'about-page' %}">About</a></li>
    </ul>
  </footer>
  -->
  {% endblock %}

</body>

</html>