<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>UMarket</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Provided CSS styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Custom made CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

  <!-- Favicon Icon/Tab Icon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/gravel.png' %}">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body style="overflow: auto; position: relative;  margin: 0;">
  {% block navbar %}
  <!-- Navbar Header-->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container fluid">
      <div class="navbar-header">
        <a class="navbar-brand navbar-left" href="{% url 'home-page' %}">
          <image src="{% static 'images/um_logo_inverse_small.png'%}">
        </a>
      </div>
      <ul class="nav">
        <li><a href="{% url 'home-page' %}">Home</a></li>
        <li><a href="{% url 'browser-page' %}">Product Listings</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'user' %}">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}

  <div class="content">{% block content %}{% endblock %}</div>

  <!-- Footer -->
  {% block footer %}
  <footer class="footer">
    <!-- About page works, other links are dummies. Might more about to header instead.-->
    <a href="{% url 'about-page' %}">About&nbsp;&nbsp;</a>
    <a href="#">Contact&nbsp;&nbsp;</a>
    <a href="#">Support&nbsp;&nbsp;</a>
    <a href="#">Privacy Policy&nbsp;&nbsp;</a>
    <a href="#">Terms of Use&nbsp;&nbsp;</a>
  </footer>
  <!--
  <footer class="bg-dark" style="color:aliceblue; position: absolute; bottom:0%; width:100%;">
    <ul class="list-inline text-center ">
      <li class="list-inline-item"><a href="{% url 'about-page' %}">About</a></li>
    </ul>
  </footer>
  -->
  {% endblock %}

</body>

</html>