{% extends "template_base.html" %}

  <!--User info displayed-->
  {% block content %} 

<body style = "background-color: #800000;">
  <h1>User page</h1>
  <div class="media" style="border: 2px solid black;">
    <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Name: {{ useraccount.name }}</h5>
      <h5 class="mt-0">Email: {{ useraccount.email }}</h5>
      <h5 class="mt-0">Rating: {{ useraccount.rating }}</h5>
    </div>
  </div>

  <h3>Item Listing</h3>
  <div class="row align-itmes-center">
    <div class="container">
      <div class="row justify-content-end">
        <button type="button" class="btn btn-primary">Add+</button>
      </div>
    </div>
    <div class="container" style="border: 2px solid black;">
      <div class="col-4">
        <div class="row justify-content-start">
        {% if user_page %}
            {% for product in user_page %}
          <div class="media">
            <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
            <div class="media-body">
                <a href="{{ product.getabsolute_url }}"><h5 class="mt-0">Product Name: {{ product.name }}</h5></a>
              <h5 class="mt-0">Sellers' Rating: {{ product.seller_rating }}</h5>
              <!--Would we separate user/seller rating?-->
              <h5 class="mt-0">Product Category: {{ product.category }}</h5>
              <h5 class="mt-0">Product $$$: {{ product.price }}</h5>
              <h5 class="mt-0">Description: {{ product.description }} </h5>
            </div>
          </div>
            {% endfor %}
            {% else %}
            <h5 class="mt-0">You have no products</h5>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <h3>Wishlist</h3>
  <div class="row align-itmes-end">
    <div class="container" style="border: 2px solid black;">
      <div class="col-4">
        <div class="row justify-content-start">
        {% if user_page %}
            {% for product in user_page %}
          <div class="media">
            <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
            <div class="media-body">
                <a href="{{ product.getabsolute_url }}"><h5 class="mt-0">Product Name: {{ product.name }}</h5></a>
              <h5 class="mt-0">Sellers' Rating: {{ user.rating }}</h5>
              <h5 class="mt-0">Product Category: {{ product.category }}</h5>
              <h5 class="mt-0">Product $$$: {{ product.price }}</h5>
              <h5 class="mt-0">Description: {{ product.description }}</h5>
            </div>
          </div>
            {% endfor %}
            {% else %}
            <h5 class="mt-0">Wishlist is empty</h5>
            {% endif %} 

            <!--Limit set to 10 items a page-->
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            <span class="page-current">
                                <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
        </div>
      </div>
    </div>
  </div> 
    
</body>


  {% endblock %}
