{% extends "template_base.html" %}

  <!--User info displayed-->
  {% block content %}

<body>
  <h1>User page</h1>
  <div class="media" style="border: 2px solid black;">
      {% load static %}
    <img class="mr-3" style="border-radius: 50%;" src="{% static 'images/chick.jpg' %}" width=100px height=100px alt="Generic placeholder image">
    <div class="media-body">
    {% if user.is_authenticated %}
      <h5 class="mt-0">Name: {{ user.profile.first_name }} {{ user.profile.last_name }}</h5>
      <h5 class="mt-0">Email: {{ user.email }}</h5>
      <h5 class="mt-0">Rating: {{ user.profile.rating }}</h5>
    {% else %}
        <h5 class="mt-0">Name: No Name</h5>
        <h5 class="mt-0">Email: No Email</h5>
        <h5 class="mt-0">Rating: No Rating</h5>
    {% endif %}
    </div>
  </div>

  <h3>Item Listing</h3>
  <div class="row align-itmes-center">
    <div class="container">
      <div class="row justify-content-end">
        <a href="{% url 'new-product' %}"><button type="button" class="btn btn-primary">Add+</button></a>
      </div>
    </div>
    <div class="container" style="border: 2px solid black;">
      <div class="col-12">
        <div class="row justify-content-start">

        <!-- //TODO: Only show what they are selling -->
        {% if user_list %}
            {% for product in user_list %}

          <div class="media">
              {% load static %}
            <img class="mr-3" style="border-radius: 50%;" src="{% static 'images/chick.jpg' %}" width=100px height=100px alt="Generic placeholder image">
            <div class="media-body">
                <a href="{{ product.get_absolute_url }}"><h5 class="mt-0">Product Name: {{ product.name }}</h5></a>
              <h5 class="mt-0">Sellers' Rating: {{ product.seller_rating }}</h5>
              <!--Would we separate user/seller rating?-->
              <h5 class="mt-0">Product Category: {{ product.category }}</h5>
              <h5 class="mt-0">Product $$$: {{ product.price }}</h5>
              <h5 class="mt-0">Description: {{ product.description }} </h5>
              <br>
            </div>

          </div>
            {% endfor %}
            {% else %}
            <h5 class="mt-0">You have no products</h5>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <h3>Wishlist</h3>
  <div class="row align-itmes-end">
    <div class="container" style="border: 2px solid black;">
      <div class="col-12">
        <div class="row justify-content-start">
        <!-- //TODO: Only show what they favorited. -->
        {% if user_list %}
            {% for product in user_list %}
          <div class="media">
              {% load static %}
            <img class="mr-3" style="border-radius: 50%;" src="{% static 'images/chick.jpg' %}" width=100px height=100px alt="Generic placeholder image">
            <div class="media-body">
                <a href="{{ product.get_absolute_url }}"><h5 class="mt-0">Product Name: {{ product.name }}</h5></a>
              <h5 class="mt-0">Sellers' Rating: {{ product.seller_rating }}</h5>
              <h5 class="mt-0">Product Category: {{ product.category }}</h5>
              <h5 class="mt-0">Product $$$: {{ product.price }}</h5>
              <h5 class="mt-0">Description: {{ product.description }}</h5>
              <br>
            </div>
          </div>
            {% endfor %}
            {% else %}
            <h5 class="mt-0">Wishlist is empty</h5>
            {% endif %}

            <!--Limit set to 10 items a page-->
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            <span class="page-current">
                                <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
        </div>
      </div>
    </div>
  </div>

</body>


  {% endblock %}
