{% extends "template_base.html" %}
{% load static %}
{% block content %}
<!--
<center>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</center>
-->


<body class="loginpage">

  {% if form.errors %}
  <p align="center">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p align="center">Your account doesn't have access to this page. To proceed,
    please login with an account.</p>
  {% else %}
  <p align="center">You must be logged in to see this page.</p>
  {% endif %}
  {% endif %}

  <div class="loginbox">
    <img src="{% static 'images/avatar.png' %}" class="avatar">
    <h1>Welcome Back!</h1>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <p>Username</p>
      <input type="text" name="username" value="" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="password" value="" placeholder="Enter Password">
      <input type="submit" value="LOGIN">
      <a href="{% url 'password_reset' %}">Lost your Password?</a><br>
      <a href="#">Don't have an account?</a>
    </form>
  </div>
</body>
{% endblock %}