@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:200,500,700,300);

/* Layout */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(230, 244, 255)
}

/* Navbar Layout */
.navbar{
    height: 53px;
    min-width: 1100px;
    background-color: #2D2C2C;
    border-bottom: 1px solid #1A140D
}
.navbar li{
    display: block;
    float: left;
    text-align: center;
    width: 157px;
    height: 53px;
    line-height: 53px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #F3F2EE
}
.navbar li a{
    text-decoration: none; 
    color: #F3F2EE;
}

.navbar .text-center{
    justify-content: center;
    text-align: center;
}

/* Login Page */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 110px;
}
.loginpage{
    width: 100%;
    height: 100%;
    background-image: url( '/static/images/umass_fade2.jpg' );
}
.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(32, 32, 32);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: maroon;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff1f1;
    color:rgb(43, 43, 43);
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover
{
    color: rgb(151, 187, 255);
}

/* Footer Layout */
/* works in conjunction with body and html, body to achieve dynamic sticky footer */
footer{
    text-align: center;
    background-color:#2D2C2C;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%; 
    flex-direction: 0;
}
.content{
    flex: auto;
}

/* Homepage template. */
/* Slideshow size and position */
.carousel-inner{
    margin: 0 auto;
    max-height: 365px !important;
    text-align: center
}
.homepage{
    width: 100%;
    height: 100%;
    background-image: url( '/static/images/umass_fade2.jpg' );
    background-repeat: no-repeat;
}
.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    top: 50px
}

/* About Page */
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10px 1px 3fr;
    grid-row-gap: 50px;
    grid-auto-rows: 100px;
    grid-column-gap: 30px;
    text-align: justify;
}

.grid div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
}

.grid div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: -1;
}

